
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


img {
  max-width: 100%;
  height: auto;
}


body {
  display: grid;
  grid-template-rows: min-content min-content;
  overflow-x: hidden;

  @include mq(medium) {
    grid-template-rows: min-content min-content ;
  }

  @include mq(small) {
    grid-template-rows: min-content min-content;
  }
}
