
.section--reel {
  background: color(5);
  display: grid;
  grid-template-rows: 25px 1fr;
  grid-template-columns: repeat(2, 1fr);


}


.reel__background {
  background: color(6);
  grid-column: 1/2;
  grid-row: 2/3;
}

.reel__container {
  max-width: 1200px;
  margin: 0 auto;
  grid-column: 1/-1;
  grid-row: 2/3;
  z-index: 10;
  padding: 10rem 0;
  width: 100%;
  grid-column-gap: 4rem;

  display: grid;
  grid-template-columns: 1fr .5fr;
  grid-template-rows: min-content min-content auto;

  & .card--big {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  & > h1 {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  & > h2 {
     grid-column: 1/2;
     grid-row: 1/2;
  }


}



.reel__side-menu {
  grid-row: 3/4;
  grid-column: 2/3;
  display: grid;
  justify-content: center;
  grid-row-gap: 2rem;
  grid-template-rows: 100px 1fr 100px;
  align-content: center;

  & ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0;
    margin: 0;

  }

  & h2 {
    align-self: end;
  }
}
