.mobile-nav {
  position: fixed;
  z-index: 99999;
  top: 5rem;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  background: #fff;
  margin: 0;
  padding: 0;
 height: 100%;
  display: grid;
  grid-template-rows: repeat(6, min-content);
  align-items: center;
  transform: translateX(-100vw);
  transition: transform .2s ease;
  align-content:start;
  padding-top: 3rem;


  @include mq(small) {
    top: 3.5rem;
  }


  & a {
    font-size: 1.8rem;
    text-decoration: none;
    color: color(4);
    padding: 1rem 2rem;
    transition: all .45ms ease;

    &:hover {
      background: color(2);
    }
  }
}


#navMobile:checked ~ .mobile-nav {
  transform: translateX(0px);
}


#navMobile {
  display: none;
}
