

html,
body {
  padding: 0;
  margin: 0;
}

html {
  min-height: 100vh;
}

body {
  font-family: $ff-serif;
  min-height: 100vh;
  font-size: 62.5%;
  line-height: 1.6;
  text-align: center;
}


h1,
h2,
h3,
h4,
p,
figure,
figcaption {
  margin: 0;
  padding: 0;
}



h1,
h2,
h3 {
  font-family: $ff-sans;
}


h1 {
 text-transform: capitalize;
  letter-spacing: 1px;
  font-size: 4rem;
  color: color(2);
  font-family: $ff-serif;
  text-align: left;
  line-height: 1.2;

  @include mq(medium) {
    font-size: 3.5rem;
  }

  @include mq(small) {
    font-size: 15vw;
  }

}

h2 {
  text-align: left;
  font-size: 1.2vw;
  letter-spacing: 8px;
  color: color(7);
  font-weight: $fw-light;
  word-spacing: .5rem;
  text-transform: uppercase;

  @include mq(medium) {
   font-size: 2vw;
  }

  @include mq(small) {
    font-size: 3.5vw;
  }


}

h3 {
  text-transform: capitalize;
  letter-spacing: 2px;
  font-family: $ff-sans;
  align-self: center;
  justify-self: start;
  font-size: 2.5rem;
  font-weight: $fw-bold;
  color: color(4);

  @include mq(medium) {
    font-size: 2rem;
  }

  @include mq(small) {
    justify-self: center;
  }
}


.align-r {
  justify-content: end;
  text-align: right;
}


.align-l {
  justify-content: start;
  text-align: left;

  @include mq(small) {
    justify-content: center;
    text-align: left;
  }
}

.align-c {
  justify-content: center;
  text-align: center;
}
